{% extends "frontend/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% trans 'Checkout' %}
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="/">{% trans 'home' %}</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>{% trans 'Checkout' %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
        <div class="wrap">
            <div class="Section-column">

                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Fill progress
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <ul class="menu menu_vt Order-navigate">
                            <li class="menu-item_ACTIVE menu-item">
                                <a class="menu-link" href="#step1">
                                    Step 1: User Options
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#step2">
                                    Step 2 Shipping Method
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#step3">
                                    Step 3. Payment method
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#step4">
                                    Step 4. Order confirmation
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="Section-content">

                <form class="form" action="#" method="post" @submit.prevent="confirmOrder">
                    <div class="Order-block Order-block_OPEN" id="step1">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">{% trans 'Step 1: User Options' %}
                            </h2>
                        </header>
                        <div class="row">
                            <div class="row-block">
                                <div class="form-group">

                                    <label class="form-label" for="name">{% trans 'Full name' %}</label>
                                    <input class="form-input" v-model="fullName" id="name" name="name" type="text"
                                           value="{{fullName}}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="phone">{% trans 'Phone' %}</label>
                                    <input class="form-input" v-model="phone" id="phone" name="phone" type="text"
                                           />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="mail">{% trans 'E-mail' %}</label>
                                    <input class="form-input" v-model="email" id="mail" name="mail" type="text"
                                           data-validate="require" />
                                </div>
                            </div>
                        </div>
                        <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">{% trans 'Next' %}</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step2">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">{% trans 'Step 2 Shipping Method' %}
                            </h2>
                        </header>
                        <div class="form-group">
                            <div v-for="(value, key, index) in shipping_methods_choices" :value="key">
                                <label class="toggle">
                                    <input type="radio" v-model="deliveryType" name="delivery" :value="value" @change="updateTotalCost"
                                            :checked="index === 0"/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">${ value }$</span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="form-label" for="city">{% trans 'City' %}
                            </label>
                            <input class="form-input" v-model="city" id="city" name="city" type="text"
                                   />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="address">{% trans 'Address' %}
                            </label>
                            <textarea class="form-textarea" v-model="address" name="address"
                                      id="address" ></textarea>
                        </div>
                        <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">{% trans 'Next' %}</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step3">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">{% trans 'Step 3. Payment method' %}
                            </h2>
                        </header>
                        <div class="form-group">
                            <div v-for="(value, key, index) in payment_methods_choices" :value="key">
                                <label class="toggle">
                                    <input type="radio" v-model="paymentType" name="pay" :value="value"
                                            :checked="index === 0"/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">${ value }$</span>
                                </label>
                            </div>
                        </div>
                        <div class="Order-footer"><a class="btn btn_success Order-next" href="#step4">{% trans 'Next' %}</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step4">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">{% trans 'Step 4. Order confirmation' %}
                            </h2>
                        </header>
                        <!--+div.Order.-confirmation-->
                        <div class="Order-infoBlock">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'Full name:' %}
                                            </div>
                                            <div class="Order-infoContent">${ fullName }$
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'Phone:' %}
                                            </div>
                                            <div class="Order-infoContent">${ phone }$
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'E-mail:' %}
                                            </div>
                                            <div class="Order-infoContent">${ email }$
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="Order-info Order-info_delivery">
                                            <div class="Order-infoType">{% trans 'Delivery type:' %}
                                            </div>
                                            <div class="Order-infoContent">${ deliveryType }$
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'City:' %}
                                            </div>
                                            <div class="Order-infoContent">${ city }$
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'Address:' %}
                                            </div>
                                            <div class="Order-infoContent">${ address }$
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            <div class="Order-infoType">{% trans 'Payment:' %}
                                            </div>
                                            <div class="Order-infoContent">${ paymentType }$
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart Cart_order">
                                <!-- Товар на оплату -->

                                <div v-for="product in products" class="Cart-product">
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_pict">
                                            <a class="Cart-pict" :href="product.href">
                                                <img class="Cart-img"
                                                     :src="product.images && product.images.length ? product.images[0] : ''"
                                                     alt="product.title"/>
                                            </a>
                                        </div>
                                        <div class="Cart-block Cart-block_info">
                                            <a class="Cart-title" href="#">${ product.title }$</a>
                                            <div class="Cart-desc">${ product.description }$</div>
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_price">
                                        <div class="Cart-price">${ product.price }$₽
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_amount">${ product.count }$ шт.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Товар на оплату -->

                            <div class="Cart-total">
                                <div class="Cart-block Cart-block_total">
                                    <strong class="Cart-title">{% trans 'Total with delivery:' %}</strong>
                                    <span class="Cart-price">${ totalCost }$₽</span>
                                </div>
                                <div class="Cart-block">
                                    <button class="btn btn_primary btn_lg" type="submit">{% trans 'Pay' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% else %}
{% include 'includes/no-authorized.html' %}
{% endif %}
{% endblock %}

{% block mixins %}
<script src="{% static 'frontend/assets/js/order-active.js' %}"></script>
{% endblock %}
