.Middle-top {
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.form_reg {
    width: 20vw;
    padding: 40px 25px 25px 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
}
.form-register {
    display: flex;
    justify-content: center;
    margin-bottom:10px;

}

.form-field input:focus {
    border-color: red;
}

.form-label {
    align-self: center;
}




.form-field, .form-field input {
    padding: 0px 0px 0px 0px;
    min-height: 0;
    height: 30px;
    min-width: 0;
    width: 15vw;

}

.form-field input::-moz-placeholder {
    color: blue;
}

.btn {
    width: 7vw;
    min-height:0;
    height:2vw;
    margin-top: 1vw;
}

.form-login {
    display:flex;
    flex-wrap: wrap;
}

.form-login input {
    min-height: 0;

}

.reg-link {
    display:flex;
    justify-content: center;
}

.reg-link .btn {
    margin-right: 10px;
}

.form-username input {
    height: 30px;
}



