{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Change password
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Profile</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            {% include 'includes/navigation.html' %}
            <div class="Section-content">
                <div class="Profile">
                    <form class="form Profile-form" action="#" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="row-block">
                                {{ form.as_p }}
                                <div class="form-group">
                                    <div class="Profile-btn">
                                        <button class="btn btn_success" type="submit">Save
                                        </button>
                                    </div>
                                    <div class="Profile-success">Profile saved successfully
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}