{% extends "frontend/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% trans 'Profile' %}
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="/">{% trans 'Home' %}</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Profile' %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                {% include 'includes/navigation.html' %}
                <div class="Section-content" style="padding-left: 0px;">
                    <div class="Profile">
                        {% include 'includes/profile-update.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block mixins %}
<script src="{% static 'frontend/assets/js/profile.js' %}"></script>
{% endblock %}
{% endblock %}
