{% extends "frontend/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Registration
{% endblock %}

{% block script_css %}
<link rel="stylesheet" href="{% static 'frontend/assets/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="Middle-top">
    <div class="wrap">
        <div class="Middle-header">
            <h1 class="Middle-title">{% trans 'Registration new user' %}</h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
                <li class="breadcrumbs-item"><a href="/">{% trans 'home' %}</a></li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Sign Up' %}</span></li>
            </ul>
        </div>
    </div>
</div>
<section class="wrap container form_reg">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-register">
<!--            <p class="form-label" style="">{{ field.label_tag }}</p>-->
            <p class="form-field" style="">{{ field }}</p>
        </div>
        {% endfor %}
        <div class="form-register">
            <button class="btn btn_primary" type="submit">
                {% trans 'Register' %}
            </button>
        </div>
    </form>
</section>
{% endblock %}
